//index
.category{
	background-color: $secondaryColor;
	margin-top: 20px;
	margin-bottom: 20px;
	h1{
		text-align: center;
		font: $fontSecondary;
		font-size: $textLg;
		color: map-get($map:$paleta,$key:'nueve');
	}
	a{
		background-color: rgba(70, 190, 190, .3);
		&:hover{
			font-size: $textMd;
			font-weight: 600;
		}

	}
	
}

//nosotros
.nosotrosBgImg{
	background-image:url(../img/tela2-bg.jpg);
}

.size{
	font-size:$textSm;
}

.nos{
		&:hover{
		color: black;
		font-weight: 600;
	}
}
