.contacto{
	background-color: $secondaryColor;
	h2{

		color:#493333 ;
	}
	.btn-all{
		background-color: #3B252F;
		font: $fontSecondary;
		color: whitesmoke;
		width: 30%;
		&:hover{
			background-color: #694646;
		}
		
	}

}