@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto+Condensed:wght@300&display=swap');
$fontMain:'Poppins', sans-serif;
$fontSecondary: 'Roboto Condensed', sans-serif;

//variables
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1.5em;



