.sucursales{
	background-color: $secondaryColor;
		
	h2{
		color:#493333 ;
		}
		a{
		text-decoration: none;
	    list-style: none;
	    &:hover{
	    	color: #694646;
	    }
	 }  

}

.media{
	@media (max-width: 400px){
		width: 100%;
	}
}


.drop{
	fieldset select{
	color: map-get($map:$paleta,$key:'diez');
	border: none;
}
}


